<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {}) %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include("includes/header", {}) %> <%- include("includes/aside", {}) %>
    <main>
      <h1><%= restaurantDetails.name %></h1>
      <p><%= restaurantDetails.cuisine %> | <%= restaurantDetails.address %></p>
      <p><%= restaurantDetails.description %></p>
      <a href="<%= restaurantDetails.website %>">Visit Website</a>
    </main>
  </body>
</html>
