<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: postDetails.title }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="post-detail">
      <h1><%= postDetails.title %></h1>
      <section id="post-meta">
        <p><%= postDetails.summary %></p>
        <addess><a href="mailto:<%= postDetails.author_email%>"><%= postDetails.author_name %></a></address>
        <time datetime="<%= postDetails.date %>"><%= postDetails.humanDate %></time>
      </section>
      <hr />
      <section>
        <p id="body"><%= postDetails.body %></p>
      </section>
      <div class="button-holder">
        <a href="/edit-post/<%= postDetails.id %>"
          ><button class="button btn">Edit Post</button></a
        >
        <form method="POST" action="/delete">
          <input
            type="hidden"
            name="delete_id"
            value="<%= postDetails.id %>"
          /><button class="button btn">Delete Post</button>
        </form>
      </div>
    </main>
  </body>
</html>
