<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Post title' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="post-detail">
      <h1><%= postDetails.title %> <%= postDetails.id %></h1>
      <section id="post-meta">
        <p><%= postDetails.summary %></p>
        <p><%= postDetails.name %></p>
        <p><%= postDetails.date %></p>
      </section>
      <hr />
      <section>
        <p id="body"><%= postDetails.body %></p>
      </section>
      <a href="/edit-post/<%= postDetails.id %>">Edit</a>
      <form method="POST" action="/delete">
        <input
          type="hidden"
          name="delete_id"
          value="<%= postDetails.id %>"
        /><button class="button btn">Delete Post</button>
      </form>
    </main>
  </body>
</html>
